body{
    /*background-image: url('https://as1.ftcdn.net/v2/jpg/01/39/40/00/1000_F_139400095_WfsWVKKCG0Rjo7uanhqFSA9CssiiIvte.jpg');
    background-repeat: no-repeat;
    background-size: 100%;*/
    background-color: #bcd8f1;
}

#github{
    zoom: 8%;
}

#instagram{
    zoom: 8%;
}

